<mat-toolbar color="primary">
  <h2 class="navbar__heading" routerLink="/">Angular App</h2>
  <div class="space-between"></div>
  <ng-template [ngIf]="auth.isLoggedIn()" [ngIfElse]="loggedOut">
    <button
      routerLink="/add-article"
      mat-raised-button
      color="accent"
      class="navbar__add-btn"
    >
      <mat-icon>add</mat-icon>
      <span class="hide"> Add Article </span>
    </button>

    <button class="navbar__menu-btn" mat-button [matMenuTriggerFor]="menu">
      @{{ username }}
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="/myprofile" mat-menu-item>
        <mat-icon>person</mat-icon> My Profile
      </button>
      <button routerLink="/" mat-menu-item>
        <mat-icon>apps</mat-icon> Dashbaord
      </button>
      <button (click)="logOutUser()" mat-menu-item>
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>
  </ng-template>
  <ng-template #loggedOut>
    <button routerLink="/login" mat-button>Log In</button>
    <button routerLink="/signup" mat-button>Sign Up</button>
  </ng-template>
</mat-toolbar>
