*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  @include flexContainer($flex-direction: column);
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: $color-dark;
}

.flex-expand {
  @include flexContainer($flex-direction: column);
  flex: 1;
}

.expand {
  @media only screen and (max-width: 430px) {
    width: 100%;
  }
}
